{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
      "@babel/plugin-proposal-private-property-in-object"
      // Alte plugin-uri pot fi deja definite aici
    ]
  }
  